@model ecommerceED1_2.Models.paginacionFarmacos
@{
    ViewBag.Title = "Farmacos";
    int pagina = 1;
}

<style>
    input {
        text-align: center;
    }
</style>



<div class="container  mt-4">

    <div class="row">
        <h4>Lista de Farmacos</h4>

        <div class="table-responsive">

            <table class="table">

                <thead>
                    <tr>
                        <th> ID</th>
                        <th> Nombre Farmaco</th>
                        <th> Descripcion Farmaco</th>
                        <th> Casa Productora</th>
                        <th> Precio</th>
                        <th> Existencia</th>
                        <th>Cantidad Deseada</th>
                        <th>Agregar a Pedido</th>
                        <th>Inventario</th>
                    </tr>

                </thead>

                <tbody>

                    @foreach (var item in Model.PaginatedBlogs())
                    {
                        <tr class="@(item.existencia > 0 ? "text-center table-secondary" : "text-center table-danger")">
                            <td class="">
                                @item.id
                            </td>
                            <td>
                                @item.nombreFarmaco
                            </td>
                            <td>
                                @item.descripcionFarmaco
                            </td>
                            <td>
                                @item.casaProductora
                            </td>
                            <td>
                                @item.precio
                            </td>
                            <td class="">
                                <label> @item.existencia </label>
                            </td>
                            <form method="post" action="/Home/Farmacos/@item.id?page=@Model.CurrentPage">
                                <td>
                                    <input type="number" class="form-control form-control-sm" name="CantidadFarmaco_@item.id" value="0" min="1" max="@Html.DisplayFor(modelItem => item.existencia)">
                                </td>
                                <td>
                                    <p data-placement="top" data-toggle="tooltip" title="add">

                                        <button class="btn btn-success btn-xs" @(item.existencia <= 0 ? "disabled" : "") type="submit">
                                            <i class="fas fa-plus"></i>
                                        </button>

                                    </p>
                                </td>
                            </form>

                            <td>
                                <p data-placement="top" data-toggle="tooltip" title="Edit">
                                    <a href="/Home/EditFarmacos/@item.id">
                                        <button class="btn btn-primary btn-xs" @(item.existencia != 0 ? "disabled" : "") type="submit">
                                            <i class="fas fa-pen"></i>
                                        </button>
                                    </a>

                                </p>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>

    <ul class="pagination">
        @for (int i = 1; i <= Model.PageCount(); i++)
        {
            <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">

                <a class="page-link" href="@Url.Action("Farmacos", new { page = i })">@i</a>
            </li>
        }
    </ul>
</div>
